.aboutUs-mobile-pictures {
    display: none;
}

.aboutUs-desktop-picture {
    width: 100%;
    height: auto;

}

.aboutUs-desktop-picture {
    width: 40%;
    border-radius: 15px;

}

.aboutUs-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.aboutUs-text {
    font-weight: 400;
    font-size: 20px;
    width: 45%;
}


@media (max-width: 1300px) {
    .aboutUs-mobile-pictures {
        width: 100%;
        display: block;

    }

    .aboutUs-text {
        font-weight: 400;
        font-size: 20px;
        width: 100%;

    }

    .aboutUs-desktop-picture {
        display: none;
    }

    .aboutUs-content {
        margin: 20px;
    }


}