.game-details-page {

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;

}

.div-game-details-picture {
    width: 600px;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.game-details-picture {
    width: 100%;
    margin-right: 10%;
    border-radius: 15px;
}

.small-pictures {
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.game-page-title {
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 50px;
}


.div-game-picture-and-info {
    display: flex;
    flex-direction: row;
}

.game-details-bullets {
    list-style-type: disc;
    text-wrap: wrap;
    padding-left: 14px;

}

#in-stock {
    position: relative;
    font-size: 16px;
    top: 3px;
}

.game-details-text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.game-details-price {
    font-size: 1.5em;
}

.row {

    width: 250px;
    justify-content: space-between;
    align-items: center;
}

.btn-details-add-to-cart {
    color: #fff;
    background: linear-gradient(#9251d8, #aa611d);
    border-radius: 15px;
    width: 130px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.main-picture {
    width: 500px;
    height: 680px
}

#picture-chevron-left {
    position: relative;
    bottom: 350px;
    right: 70px;
    font-size: 70px;
}

#picture-chevron-right {
    position: relative;
    bottom: 350px;
    left: 425px;
    font-size: 70px;
}


@media (max-width: 1100px) {
    .div-game-picture-and-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-game-details-picture {
        width: 80%;
    }

    .div-game-details-picture {
        margin-right: 0;
    }

    .main-picture {
        width: 500px;
        height: 100%;
        justify-content: center;
        margin-right: 0;

    }

    #picture-chevron-left {
        position: relative;
        bottom: 350px;
        right: 70px;
        font-size: 70px;
    }

    #picture-chevron-right {
        position: relative;
        bottom: 350px;
        left: 430px;
        font-size: 70px;
    }
}

@media (max-width: 730px) {
    .main-picture {
        width: 300px;
        justify-content: center;
        margin-right: 0;

    }

    #picture-chevron-left {
        position: relative;
        bottom: 230px;
        right: 70px;
        font-size: 70px;
    }

    #picture-chevron-right {
        position: relative;
        bottom: 230px;
        left: 230px;
        font-size: 70px;
    }
}

@media (max-width: 500px) {
    .div-game-picture-and-info {
        align-items: flex-start;
    }

    .div-game-details-picture {
        width: 100%;
    }

    .main-picture {
        width: 250px;
        justify-content: center;
        margin-right: 0;

    }

    #picture-chevron-left {
        position: relative;
        bottom: 190px;
        right: 60px;
        font-size: 70px;
    }

    #picture-chevron-right {
        position: relative;
        bottom: 190px;
        left: 166px;
        font-size: 70px;
    }
}