.game-details-page {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;

}

.div-game-details-picture {
    width: 600px;
    margin-right: 10%;
}

.game-details-picture {
    width: 100%;
    margin-right: 10%;
}

.small-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.game-page-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 50px;
}

.game-details-picture-details {
    display: flex;
    flex-direction: row;
}

.div-game-picture-and-info {
    display: flex;
    flex-direction: row;
}

.game-details-bullets {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    text-wrap: wrap;
    padding-left: 14px;

}

@media (max-width: 1100px) {
    .div-game-picture-and-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-game-details-picture {
        width: 80%;
    }

    .div-game-details-picture {
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .div-game-picture-and-info {
        align-items: flex-start;
    }

    .div-game-details-picture {
        width: 100%;
    }
}