.games-content {
    justify-content: center;
    width: 100%;
}

.game-in-list {
    width: 150px;
    margin-right: 20px;
}

.games {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    max-width: 1000px;
}

@media (max-width: 440px) {
    .games {
        margin-left: 7%;
        margin-right: 7%;
    }

    .game-in-list {
        margin-right: 0;
    }
}

@media (max-width: 630px) and (min-width: 441px) {
    .games {
        margin-left: 15%;
        margin-right: 15%;
    }

    .game-in-list {
        margin-right: 0;
    }
}