.picture-slogan-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-games {
    margin-left: 8%;
    margin-right: 8%;
    max-width: 1400px;
}

.slogan2 {
    font-weight: 400;
    font-style: italic;
    font-size: 22px;

}

.game-column {
    width: 150px;
}

.game-title {
    position: relative;
    top: -45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.game-details {
    display: flex;
    position: relative;
    top: -65px;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;


}

.game-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

@media (min-width: 840px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }

    .new-games {
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (min-width: 1200px) {

    .new-games {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (min-width: 2000px) {


    .new-games {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (width < 550px) {
    .slogan-mainpage {
        overflow: break-word;
        width: 80px;
    }

    #slogans {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
}

@media (width >=550px) {

    #slogans {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 450px;
    }
}