.page-content {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;

}

.text-empty-shopping-cart {
    font-size: 70px;
    margin: 0;
}

.shopping-cart-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.shopping-cart-empty {
    width: 100%;
}

.empty-shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.div-shopping-cart-button {
    width: 100%;
}

.div-text-empty-shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.shopping-cart-button {
    background: linear-gradient(#A860F3, #D4843A);
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    font-size: 30px;
}

.div-shopping-cart-picture {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#shopping-cart-picture {
    width: 40%;
    border-radius: 15px;
}

@media (max-width: 1000px) {
    #shopping-cart-picture {
        display: none;
    }

    .shopping-cart {
        width: 100%;
    }

    .shopping-cart {
        margin-bottom: 50px;
    }

}

@media (max-width: 600px) {
    .div-text-empty-shopping-cart {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .text-empty-shopping-cart {
        font-size: 50px;
    }

    .shopping-cart-button {
        font-size: 20px;
    }

    .page-content {
        margin-left: 8%;
        margin-right: 8%;
    }

    .shopping-cart {
        margin-bottom: 50px;
    }
}