body {
    max-width: 100%;
    color: #fff;
    background: #020712;
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
}

main {
    flex: 1;
   
}

.section-head {
    margin-left: 8%;
    
}

@media (width >700px) {
    .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%; 
    }
}

nav {
    height: 134px;
    border-radius: 0 0 15px 15px;
    display: flex;
    background: linear-gradient(#D4843A, #A860F3);
    width: 100%;

}

.header-logo{
    width: auto;
    height: 88px;
    margin-top: 25px;
    margin-left: 10px;
}

#main-picture-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-picture {
    max-width: 100%;
}

#slogans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
  }

  .slogan2 {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

 
  h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
  
  }
  .game-column {
    width: 150px;
  }

.game-title {
    position: relative;
    top:-45px;
}

.game-details {
    display: flex;
    position: relative;
    top:-65px;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    

}

  .game-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .price {
    margin-top: 13px
  }

  .gameCover {
    height: 188px;
    width: auto;
    border-radius: 14px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  @media (300px <= width <= 700px) {
    footer {
        height: 364px;
        flex-direction: column;
        align-items: center;
    }
    
  }
  @media (width > 700px) {
    footer {
        height: 150px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
  }

  footer {
    border-radius: 15px 15px 0 0;
        display: flex;
        background: linear-gradient(#A860F3, #D4843A);
        width: 100%;
        margin: 0px;

      }
    
    .wrapper {
            min-height: 100%;
            
            
        }
    



  .footer-logo {
    width: 117px;
    height: 73px;
  }

  .add-shopping-cart {
    color:#D4843A;
    background: #FFF;
    border-radius: 10px;
    padding: 5px 4px 2px 4px;
    text-align: center;
    position: relative;
    top: -45px;
    left: 105px;
  }

  .footer-logo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .social-media-text {
    margin-top: 20px;

  }

  .details {
    background: #fff;
    color: #D4843A;
    border-radius: 25px;
    font-family: "Josefin Sans", sans-serif;
    padding: 5px 10px;
    font-size: 12px;
    margin-top: 8px;
    height: 24px;
  }

  .flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }
  